<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.PivotGrid.v17.1.Core, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Data.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.XtraPrinting.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Docs.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
    </modules>
    <handlers>
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" />
    </handlers>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>