<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraPivotGrid.v8.1.Core, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Data.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.XtraPrinting.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.ASPxEditors.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraReports.v8.1.Web, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraReports.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Utils.v8.1, Version=8.1.1.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>